* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    
    
}

.container {
    /* text-align: center; */
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    /* margin-left: auto;
    margin-right: auto; */
    /* flex: auto; */
}

header {
    background: #70cce3;
    color: #fff;
    padding: 10px 12;
    position: sticky;
    /* width: 100%; */
    top: 0;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

header h2 p {
    margin-bottom: 10px;
    font-size: 3.5em;
}

header p {
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

nav a:hover {
    background: #575757;
}

.section {
    padding: 40px 0;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

.project {
    flex: 1;
    min-width: 250px;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skills {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* justify-content: center; */
    list-style-type: none;
    /* padding: 0; */
}

.skills li {
    background: #558fcd;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.skills li img {
    max-width: 100px;  /* Adjust the width of the icons */
    height: auto;  /* Maintain aspect ratio */
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    list-style-type: none;
}

.technologies li {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-weight: bold;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #575757;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0fc6db;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
    /* width: fit-content; */
    width: 100%;
}
.btn:hover {
    background-color: #6ce28b;
}

.btn-wip {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0fc6db;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
}
.btn-wip:hover {
    background-color: #f23405;
}

.s_container {
    text-align: center;
    /* width: 15%; */
    margin: 0 auto;
    padding: 20px;
    max-width: 12%;
}

.paraBlock {
    text-align: center;
    /* justify-content: center; */
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
}

